@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #f94528;
  --lighter-primary-color: #f6472c;
  --text-color: #131313;
  --sub-text-color: #aaa9a7;
  --background-color: #f1eee9;
  --link-color: #000;
  --active-link-color: #fff;
  --link-hover-color: var(--primary-color);
}

.image {
  transform: rotateX(51deg) rotateZ(43deg);
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 1px, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;

  &:hover {
    transform: translate3d(0px, -16px, 0px);
    box-shadow: 1px 1px 0 1px, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}
